# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc
*.pdb

# Environments
env/
venv/
ENV/
.venv/
*.env

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# ======================
# Django
# ======================
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/
*.coverage
.coverage.*
htmlcov/
.env

# Django migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# ======================
# Docker
# ======================
# Ignore Docker containers, images, volumes
docker-compose.override.yml
*.docker
*.pid
docker-compose.override.yml

# ======================
# Editor / IDE
# ======================
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Misc
# ======================
*.bak
*.tmp
